* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* Add flex properties to align left and center vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 140px;
    color: white;
    transform: translateX(-1000px);
}

#heading1 {
    /* Add slide-in animation */
    animation: slide-right 1s;
    animation-fill-mode: forwards;
}

#heading2 {
    /* Add slide-in animation after delay */
    animation: slide-right 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#heading3 {
    /* Add slide-in animation after dealy */
    animation: slide-right 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.nav {
    height: 60vh;
    /* Position on the right */
    position: absolute;
    right: 0px;
    top: 20%;
    /* Use flex properties to space out links */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Add fade-in animation after delay */
    
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    /* Add transition for hover effect */
    
}

.nav a:hover {
    /* Add nav link hover effect */
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}